dist
build
coverage
node_modules

.env*
.dockerignore
Dockerfile*
docker-compose*

.cache
.npm
logs
*.log
npm-debug.log*

prisma/migrations
prisma/schema.prisma

package-lock.json
pnpm-lock.yaml
yarn.lock
README.md
LICENSE
